/* CSS Variables */
:root {
    --navbar-height: 80px;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding-top: var(--navbar-height); /* Fix for navbar overlap */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #161515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: var(--navbar-height); /* Ensure consistent height */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #03188d;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.nav-links li a {
    color: #161515;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    text-shadow: 0 1px 5px rgba(91, 58, 41, 0.3);
    color: #03188d;
    font-weight: bold;
}

.nav-links li a:active {
    color: #03188d;
    border: 2px solid #03188d;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.2);
}

.nav-links li a.active {
    border: 3px solid #03188d;
    color: #03188d;
    text-shadow: 0 1px 5px rgba(91, 58, 41, 0.3);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

/* Hero section */
.hero-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 80px;
}

.hero-section {
    max-width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

.name {
    font-size: 50px;
    color: #03188d;
    margin-bottom: 10px;
    font-weight: 600;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #111;
}

.description {
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
}

.btn {
    background-color: #03188d;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #124acb;
}

